<div id="myGalleryPlace" class="container marketing">
  <!-- Three columns of text below the carousel -->
  <div class="row">
    <!-- /.col-lg-4  -->
    <div class="col-lg-4">
      <div class="card">
        <img
        src="img/gallery-place/salar-uyuni.png"
        class="rounded-circle img-responsive d-block"
          alt=""
        />
        <div class="card-body">
          <div class="d-flex justify-content-between align-items">
            <h3 class="card-title mb-0">Salar de Uyuni</h3>
          </div>
          <p class="card-text mt-2">
            El Salar de Uyuni es la salina más grande del mundo, ubicada en Bolivia. 
            Con una extensión de más de 10,000 kilómetros cuadrados, es un paisaje asombroso de sal blanca y plana. 
            Durante la temporada de lluvias, se convierte en un espejo gigante que refleja el cielo y las nubes. 
            Además de su belleza natural, el salar alberga islas de cactus y sitios históricos como el Cementerio de Trenes. 
            Es un destino turístico popular y una fuente de recursos naturales, como la sal y el litio.
          </p>
        </div>
      </div>
    </div>

    <!-- /.col-lg-4  -->
    <div class="col-lg-4">
      <div class="card">
        <img
          src="img/gallery-place/torotoro-002.jpg"
          class="rounded-circle img-responsive d-block"
          alt=""
        />
        <div class="card-body">
          <div class="d-flex justify-content-between align-items">
            <h3 class="card-title mb-0">Parque Nacional Toro Toro</h3>
          </div>
          <p class="card-text mt-2">
            Descubre la majestuosidad del Parque Nacional Toro Toro en Bolivia. 
            Sumérgete en sus impresionantes formaciones rocosas, explora cañones 
            fascinantes y maravíllate con fósiles de dinosaurios. Este tesoro natural también alberga una diversidad biológica excepcional. 
            ¡Embárcate en una aventura única donde la naturaleza y la historia se entrelazan!
          </p>
        </div>
      </div>
    </div>

    <!-- /.col-lg-4  -->
    <div class="col-lg-4">
      <div class="card">
        <img
          src="img/gallery-place/tiwanaku.png"
          class="rounded-circle img-responsive d-block"
          alt=""
        />
        <div class="card-body">
          <div class="d-flex justify-content-between align-items">
            <h3 class="card-title mb-0">Tiwanaku</h3>
          </div>
          <p class="card-text mt-2">
            Tiwanaku, un sitio arqueológico en Bolivia, revela los vestigios de una antigua civilización. 
            Sus impresionantes estructuras, como la Puerta del Sol y la Pirámide de Akapana, 
            muestran la grandeza y el conocimiento de esta cultura precolombina. 
            Sumérgete en su historia y descubre su rica tradición artística y religiosa en este fascinante destino.
          </p>
        </div>
      </div>
    </div>
  </div>
  <!-- /.row -->
</div>
